@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@font-face {
  font-family: "PokemonHollow";
  src: url("/Pokemon Hollow.ttf") format("truetype");
}

.font-pokemon {
  font-family: "PokemonHollow", sans-serif;
}

@theme {
  --font-custom: "Mozilla Headline", sans-serif;
}

/* body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #ffffff, #eeeeee, #cccccc);
} */

@layer base {
  html {
    @apply transition-colors duration-300;
  }
  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}

/* @keyframes holo {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.animate-holo {
  background-size: 200% 200%;
  animation: holo 8s linear infinite;
}

@keyframes borderGlow {
  0%,
  100% {
    box-shadow: 0 0 10px var(--type-color), inset 0 0 15px var(--type-color);
  }
  50% {
    box-shadow: 0 0 20px var(--type-color), inset 0 0 25px var(--type-color);
  }
}

.animate-borderGlow {
  animation: borderGlow 3s ease-in-out infinite;
}

@keyframes typeShimmer {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.4);
  }
  100% {
    filter: brightness(1);
  }
}

.animate-typeShimmer {
  animation: typeShimmer 2s ease-in-out infinite;
} */
